@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-background: #020617;
  --color-primary: #38BDF8;
  --color-secondary: #A78BFA;

  --backdrop-blur-xs: 2px;
}

body {
  background-color: var(--color-background);
  color: white;
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}